#mensaje {
  border-radius: 15px;
}
.message-form {
  display: flex;
  width: 100%;
  gap: 10px; 
}

.message-form textarea {
  flex: 1;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.message-form button {
  padding: 0 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}