* {
    box-sizing: border-box;
}
body {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    margin: 0;
}
.links {
    text-decoration: none;
}