.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  background: #ffffff;
  padding: 9px 14px;
  border-radius: 8px;

  border: 1px solid #e9edef;
  transition: box-shadow 0.2s ease, border 0.2s ease;
}

.search-bar:hover,
.search-bar:focus-within {
  border-color: #d1d7db;
  box-shadow: 0px 0px 4px #d1d7db;
}

.search-icon {
  font-size: 18px;
  color: #54656f;
}

.search-bar input {
  flex: 1;
  background: none;
  border: none;
  outline: none;

  color: #111b21;
  font-size: 15px;
  font-family: inherit;
}

.search-bar input::placeholder {
  color: #8696a0;
}
