.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f0f2f5;

}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  padding: 8px 14px;
  background: #f0f2f5;
  border-bottom: 1px solid #e9edef;
}

.navbar-header h2 {
  color: #111b21;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-desktop svg {
  color: #54656f;
  font-size: 24px;
  cursor: pointer;
}