.message-screen{
    display: flex;
    min-height: 98vh;
}

.message-screen__contact-list-container{
    width: 400px;
    border-right: 1px solid #e0e0e0;
}
.message-screen__messages-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.messages-form-container{
    align-items: flex-end;
    margin-top: auto;
    height: 100px;
    width: 100%;
    padding: 10px;
}
