.home-screen{
    display: flex;
    height: 85vh;
}

.contact-list{
    width: 350px;
    height: 100%;
    border-right: 5px gray;
}

.home-screen__messages-container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    padding-bottom: 100px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span{
        font-size: large;
    }
}
@media (max-width: 550px) {
    .home-screen__messages-container {
        display: none;
    }
    .contact-list{
        width: 100%;
    }
}
