.contact-container {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}

.selected {
    background-color: #EDEDED;
    transition: background-color 150ms ease-in-out;
}

.profile_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.links {
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
}

.links img {
    align-items: center;
}

.detail-contact {
    display: block;
    margin: 10px;
}

h3 {
    margin-bottom: 2px;
    margin-top: 2px;
}

span {
    font-weight: lighter;
    font-size: x-small;
    color: gray;
}

.navbar-search {
    padding: 10px 12px;
    background: #FBFBFB;
    border-bottom: 1px solid #e9edef;
}