.message-container {
    padding: 15px;
    width: 40%;
    margin-bottom: 10px;
}
.message-container--right{
    border-radius: 30px 30px 0px 30px;
    background-color: #DCF8C6;
    justify-self: right;
}
.message-container--left{
    border-radius: 30px 30px 30px 0px;
    justify-self: left;
    background-color: #EEEEEE;
}

.message-timestamp{
    color: gray;
}
.message {
    display: flex;
    justify-content: space-between;
}
.message p{
    margin: 0;
    flex-grow: 1;
}